<!doctype html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Gloria+Hallelujah">
<title>XKCD Time Grpahs</title>
</head>
<body>
<div class="page">
    <header class="row">
        <h1>XKCD Time Graphs</h1>
    </header>
    <section class="google-trends row">
        <div class="large-centered large-8 columns">
            <h2>Google Trends</h2>
            <p><input type="text" placeholder="Enter a keyword or keywords separated by commas"></p>
            <div class="graph"></div>
        </div>
    </section>
</body>
</html>
