@import "foundation/variables";

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Gloria Hallelujah';
    text-transform: uppercase;
}

.page {
    margin: emCalc(50px) 0;
    h1 {
        text-align: center;
    }
}
